@import url(reset.css);

:root {
    --gutter: 20px;
    --col1: calc((100% - 11* var(--gutter)) / 12);
    --col2: calc(((100% - 11* var(--gutter)) / 12) * 2 + var(--gutter));
    --col3: calc(((100% - 11* var(--gutter)) / 12) * 3 + var(--gutter) * 2);
    --col5: calc(((100% - 11* var(--gutter)) / 12) * 5 + var(--gutter) * 4);
    --col6: calc(((100% - 11* var(--gutter)) / 12) * 6 + var(--gutter) * 5);
    --col7: calc(((100% - 11* var(--gutter)) / 12) * 7 + var(--gutter) * 6);
    --col8: calc(((100% - 11* var(--gutter)) / 12) * 8 + var(--gutter) * 7);
}

body,
section {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    padding-bottom: 80px;
}

.container {
    margin: 0 10%;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu a {
    padding: 10px;
}

.login {
    background: transparent;
    border: none;
}

.row2 {
    display: flex;
    justify-content: space-between;
}

.textMain {
    flex-basis: var(--col5);
}

.pictureMain {
    flex-basis: var(--col6);
    position: relative;

}

.pictureMain img {
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.166));
    animation: updwn infinite 2s;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

@keyframes updwn {
    0% {
        filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.166));
        top: 0;
    }

    50% {
        filter: drop-shadow(20px 40px 10px rgba(0, 0, 0, 0.266));
        top: -70px;
    }

    75% {
        filter: drop-shadow(20px 40px 10px rgba(0, 0, 0, 0.266));
        top: -50px;
    }

    100% {
        filter: drop-shadow(20px 80px 10px rgba(0, 0, 0, 0.266));
        top: -25px;
    }
}

.projText {
    width: var(--col6);
}

.green {
    background: linear-gradient(180deg, #CAFFB7 0%, #D5FFF2 100%);
    border-radius: 50px;
    position: relative;
    z-index: 1;
}

.green img {
    width: 120%;
}

.item:nth-child(1) .green img {
    position: relative;
    top: -100px;
    left: -120px;
    z-index: 2;
}

.item:nth-child(2) .green img {
    position: relative;
    top: -10px;
    left: -47px;
    z-index: 2;
}

.item:nth-child(3) .green img {
    position: relative;
    top: -50px;
    left: -180px;
    z-index: 2;
}

.green:hover {
    top: -100px;
}

.item .green:hover img {
    top: 100px;
}

.row3 {
    display: flex;
    justify-content: space-between;
}

.item {
    flex-basis: 30%;
}

.help {
    margin-top: 80px;
    position: relative;
    width: 100%;
    min-height: 600px;
}

.helpText {
    width: var(--col6);
}

.helpImg {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--col8);
}

.helpImg img {
    width: 100%;
}

.talk {
    margin-top: 80px;
    padding-left: 20px;
}

.talkText {
    flex-basis: var(--col7);
}

.talkImg {
    flex-basis: var(--col5);
}

.talkImg img {
    width: 100%;
}

.row5 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.row4 {
    display: flex;
    justify-content: flex-start;
}

.itemLast {
    flex-basis: var(--col5);
}

.itemF {
    flex-basis: var(--col2);
    margin-right: calc(var(--col1) + var(--gutter) * 2);
}

.itemF img {
    width: 20%;

}

.itemF1 {
    flex-basis: var(--col1);
    margin-right: calc(var(--col1) + var(--gutter) * 2);
}

.itemF2 {
    flex-basis: var(--col2);
    margin-right: calc(var(--col1) + var(--gutter) * 2);
}

.itemF3 {
    flex-basis: var(--col1);
}

@media screen and (max-width: 768px) {
    .row5 {
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    .row2 {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .textMain {
        flex-basis: var(--col10);
    }
}