@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --gutter: 20px;
    --col1: calc((100% - 11* var(--gutter)) / 12);
    --col2: calc(((100% - 11* var(--gutter)) / 12) * 2 + var(--gutter));
    --col3: calc(((100% - 11* var(--gutter)) / 12) * 3 + var(--gutter) * 2);
    --col4: calc(((100% - 11* var(--gutter)) / 12) * 4 + var(--gutter) * 3);
    --col5: calc(((100% - 11* var(--gutter)) / 12) * 5 + var(--gutter) * 4);
    --col6: calc(((100% - 11* var(--gutter)) / 12) * 6 + var(--gutter) * 5);
    --col7: calc(((100% - 11* var(--gutter)) / 12) * 7 + var(--gutter) * 6);
    --col8: calc(((100% - 11* var(--gutter)) / 12) * 8 + var(--gutter) * 7);
    --col9: calc(((100% - 11* var(--gutter)) / 12) * 9 + var(--gutter) * 8);
    --col10: calc(((100% - 11* var(--gutter)) / 12) * 10 + var(--gutter) * 9);
    --col11: calc(((100% - 11* var(--gutter)) / 12) * 11 + var(--gutter) * 10);
    --col12: calc(((100% - 11* var(--gutter)) / 12) * 12 + var(--gutter) * 11);
}

body {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}


h1 {
    font-size: 84px;
    font-weight: bold;
    padding-bottom: 40px;
    line-height: 120%;
    letter-spacing: 0.01em;
}

h2 {
    font-size: 60px;
    line-height: 120%;
    letter-spacing: 0.015em;
    font-weight: bold;
    padding-bottom: 20px;
}

.but1 {
    display: flex;
    color: #0F4D00;
    padding: 10px 20px;
    background-color: #30F100;
    border-radius: 100px;
    border: none;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.but1 img {
    margin-left: 40px;
}

.login {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 10%;
    position: relative;
}

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5vw;
}


.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    padding: 10px;
    font-size: 24px;
    font-weight: 300;
}

.mobmenu {
    display: none;
}

.login {
    background: transparent;
    border: none;
}

.row2 {
    padding-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Main {
    padding-bottom: 18vw;
}

.textMain {
    flex-basis: var(--col6);
}

.textMain p {
    padding-bottom: 20px;
    line-height: 146%;
    width: 70%;
    font-size: 24px;
}

.pictureMain {
    flex-basis: var(--col6);
    position: relative;
    padding-top: 5%;

}

.pictureMain .arrows {
    position: absolute;
    width: 53%;
    top: 30%;
    left: 7%;

}

.violet {
    animation: updwn infinite 5s alternate;
    top: 0;
    left: 0;
    margin-bottom: 15%;
    width: 25%;
}

.blue {
    animation: updwn infinite 6s alternate;
    right: -20%;
    top: 0;
    width: 66%;
}

.orange {
    animation: updwn infinite 7s alternate;
    top: 0;
    margin-top: -5%;
    width: 61%;
}

.pictureMain img {
    filter: drop-shadow(0px 30px 50px rgba(0, 0, 0, 0.25));

    position: relative;

}

@keyframes updwn {
    0% {
        filter: drop-shadow(0px 30px 50px rgba(0, 0, 0, 0.25));
        top: 0px;
    }

    50% {
        filter: drop-shadow(0px 30px 50px rgba(0, 0, 0, 0.25));
        top: -20px;
    }

    75% {
        filter: drop-shadow(0px 30px 50px rgba(0, 0, 0, 0.25));
        top: -40px;
    }

    100% {
        filter: drop-shadow(0px 30px 50px rgba(0, 0, 0, 0.25));
        top: -60px;
    }
}

.project {
    padding-bottom: 150px;
}

.projText {
    width: var(--col8);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 146%;
    padding-bottom: 120px;
}

.green {
    background: linear-gradient(180deg, #CAFFB7 0%, #D5FFF2 100%);
    border-radius: 50px;
    position: relative;
    z-index: 1;
}

.item p {
    padding-top: 40px;
}

.green img {
    width: 100%;
}

.item .green img {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    transition: all 1s;
}



.item .green:hover img {
    top: -40px;
}

.row3 {
    display: flex;
    justify-content: space-between;
}

.row3a {
    display: flex;
    justify-content: space-between;
}

.item p {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
}

.item {
    flex-basis: 30%;
}

.help {
    margin-top: 80px;

    width: 100%;
    min-height: 600px;
    padding-bottom: 150px;
}

.helpText {
    width: var(--col8);
}

.helpText p {
    padding-bottom: 20px;
    width: 33vw;
    font-weight: 300;
    font-size: 24px;
    line-height: 146%;
}

.helpImg {
    position: absolute;
    top: 65%;
    right: 0;
    width: var(--col7);
}

.helpImg img {
    width: 100%;
}

.talk {
    margin-top: 80px;
    padding-left: 20px;
    padding-bottom: 150px;
}

.talkText {
    flex-basis: var(--col6);
}

.talkText p {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 146%;
    letter-spacing: 0.01em;
    width: 44vw;
    padding-bottom: 20px;
}

.talkImg {
    flex-basis: var(--col5);
}

.talkImg img {
    width: 100%;
}

.row5 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.row6 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.row4 {
    display: flex;
    justify-content: flex-start;
}

.itemLast {
    flex-basis: var(--col5);
    margin-right: calc(var(--col1) + var(--gutter));
    margin-bottom: 40px;
}

.itemLast h3 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.lastText {
    padding-top: 30px;
    padding-left: var(--gutter);
    flex-basis: 45%;
}

.lastImg {
    flex-basis: 55%;
}

.lastText span,
.lastText img {
    vertical-align: middle;
}

.b1 {
    width: 100%;
}

.itemF {
    flex-basis: var(--col2);
    margin-right: calc(var(--col1) + var(--gutter) * 2);
}

.itemF img {
    width: 20%;
}

.itemF p {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 140%;
}

.itemF .logoF {
    width: 40%;
}

footer h4 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 40px;
}

footer li {
    padding-bottom: 15px;
}

footer .adr {
    line-height: 140%;
}

.itemF1 {
    flex-basis: var(--col1);
    margin-right: calc(var(--col1) + var(--gutter) * 2);
}

.itemF2 {
    flex-basis: var(--col3);
    margin-right: var(--gutter);
}

.itemF3 {
    flex-basis: var(--col2);
}

.itemF4 {
    flex-basis: var(--col1);
}

footer {
    padding-top: 300px;
}

footer p {
    font-size: 13px;
}



@media screen and (max-width: 768px) {

    .menu li {
        margin: 0;
    }

    .row5 {
        justify-content: center;
    }

    .menu a {
        font-size: 14px;
    }

    .login {
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }

    h1 {
        font-size: 36px;
        padding-bottom: 15px;
    }

    h2 {
        font-size: 24px;
    }

    .textMain p {
        font-size: 14px;
        width: 270px;
        padding-bottom: 15px;
    }

    .but1 {
        font-size: 10px;
    }

    .Main {
        padding-bottom: 120px;
    }

    .projText h2 {
        padding-bottom: 15px;
    }

    .projText p {
        font-size: 10px;
        line-height: 146%;
    }

    .item p {
        font-size: 12px;
    }

    .project {
        padding-bottom: 120px;
    }

    .help {
        min-height: 300px;
        padding-bottom: 0;
    }

    .help p {
        font-size: 10px;
    }


    .helpText h2 {
        padding-bottom: 15px;
    }

    .talk {
        padding-bottom: 80px;
    }

    .talk p {
        font-size: 10px;
    }

    .talk h2 {
        padding-bottom: 15px;
    }

    .last h3 {
        font-size: 14px;

    }

    .itemLast {
        flex-basis: var(--col8);
    }

    .row5 {
        justify-content: flex-start;
    }

    footer {
        padding-top: 80px;
    }

    footer li {
        font-size: 8px;
    }

    footer h4 {
        font-size: 10px;
    }

    .itemF p {
        font-size: 8px;
    }
}

@media screen and (max-width: 375px) {
    .row2 {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .mobmenu {
        display: block;
    }

    .menu {
        display: none;
    }

    .pictureMain {
        flex-basis: var(--col9);
    }

    .arrows {
        top: 28%;
    }

    .textMain {
        flex-basis: var(--col12);
    }

    .textMain p {
        font-size: 12px;
    }

    .but1 {
        font-size: 10px;
        padding: 10px 20px;
    }

    .projText {
        width: 100%;
    }

    .row3 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .item {
        flex-basis: var(--col8);
    }

    .item p {
        padding-top: 20px;
        margin-bottom: 40px;
    }

    .helpText {
        width: var(--col10);
    }

    .helpText p {
        width: 85%;
    }

    .helpImg {
        width: 100%;
        position: static;
        padding-top: 10px;
    }

    .talkImg,
    .talkText {
        flex-basis: var(--col12);
    }

    .talkImg {
        padding-top: 10px;
    }

    .row3a {
        justify-content: center;
        flex-wrap: wrap-reverse;
    }

    .itemLast {
        flex-basis: var(--col12);
        margin-right: 0;
    }

    .lastText {
        padding-top: 5px;
        flex-basis: 40%;
    }

    .lastImg {
        flex-basis: 60%;
        border-radius: 20px;
        overflow: hidden;
        max-width: 125px;
    }

    .lastImg img {
        width: 150%;
    }

    .row4 {
        align-items: flex-start;
    }

    h1 {
        font-size: 36px;

    }

    h2 {
        font-size: 18px;
    }

    th {
        padding-left: 30px;
    }

    .projText {
        font-size: 8px;
    }

    .itemF1,
    .itemF3,
    .itemF4 {
        display: none;
    }

    .itemF {
        flex-basis: var(--cal3);
    }

    .itemF2 {
        flex-basis: var(--cal5);
    }

    .row6 {
        flex-wrap: nowrap;
    }

}